.form {
  margin: 20px auto 40px auto;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 215px;
}

.todoTitle {
  display: block;
}

span {
  margin: 5px;
  padding: 5px;
}
input {
  display: block;
  margin: 10px;
  padding: 5px;
}

h1 {
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px auto;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 500px;
}

.deleteTodo {
  margin: 5px;
  display: inline-list-item;
}

.submit {
  display: block;
  margin: 10px;
  padding: 5px;
}

label {
  display: block;
  margin: 10px;
  padding: 5px;
}

