<form class='form' [formGroup]='addTodo' (ngSubmit)='newTodo()'>
  <h1>
    {{header}}
  </h1>
  <label for='title'>Title:</label>
  <input type='text' name='title' id='title'  placeholder='Type in title' [formControl]='title'>
  <label for='description'>Description:</label>
  <input type='text' name='description' id='description' placeHolder='Type in description' [formControl]='description'>
  <button type='submit' class='submit'>Add Todo</button>
</form>
  <ul class="todos">
    <li *ngFor='let todo of todos'>
      <span class='todoTitle'>Title: {{todo.title}}</span>
      <span class='todoDescription'>Description: {{todo.description}}</span>
      <button class='deleteTodo' (click)='deleteTodo()'>X</button>
    </li>
  </ul>
