<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
</head>

<form class='flex item-center ma3' (ngSubmit)="newUser(addUser.value)" [formGroup]="addUser">
  <md-card class="center">
    <md-card-title>
      <h2 class='db ma3'>
        Register:
      </h2>
    </md-card-title>

    <md-card-content>
      <md-input-container>
        <input md-input class='' type='text' minlength='4' maxlength='20' placeholder='Username' [formControl]="username" required>
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <input md-input class='' type='password' minlength='8' maxlength='25' placeholder='Password' [formControl]="password" required>
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <button md-raised-button [disabled]="loading" type='submit' class='flex center'>Sign up</button>
      <img class="flex center ma3" id="loadingCircle" *ngIf="loading" src="loader.gif">
    </md-card-content>
  </md-card>
</form>
