<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
</head>

  <form class='flex item-center ma3' (ngSubmit)="newTodo(currentUserId, title.value, description.value)" [formGroup]="addTodo">
    <md-card class="center">
      <md-card-title>
        <h2 class='db ma3'>
          New Todo:
        </h2>
      </md-card-title>

      <md-card-content>
        <md-input-container>
          	<input md-input type='text' placeholder='Title' [formControl]="title" required>
        </md-input-container>
      </md-card-content>

      <md-card-content>
        <md-input-container>
          <textarea md-input row="3" type='text' placeholder='Description' [formControl]="description" required></textarea>
        </md-input-container>
      </md-card-content>

      <md-card-content>
        <button md-raised-button [disabled]="loading" type='submit' class='ma2'>Add Todo</button>
        <a class="ma2" [routerLink]="['/log-in']" id="logOutLink">Log out</a>
        <img class="flex center ma3" id="loadingCircle" *ngIf="loading" src="loader.gif">
      </md-card-content>
    </md-card>
	</form>

  <md-list class="flex center ma3">
    <md-card class="center">
      <h1 class='f2 center'>
        {{currentUser}}´s {{header}}
      </h1>
      <md-card-content class="center">
        <md-list-item *ngFor="let todo of todos" class="center">
          <img md-list-avatar src="list-check.png" alt="list-check">
          <span md-line class="tc">{{todo.title}}</span>
          <span md-line class="tc">{{todo.description}}</span>
          <button md-raised-button class='ma3' (click)='deleteTodo(todo._id)'>Delete</button>
        </md-list-item>
      </md-card-content>
    </md-card>
  </md-list>
